@import "tailwindcss";

html {
  background-image: url("../../public/macOS.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  background-color: lightpink;
}
.active {
  @apply bg-black/30;
}

